@import url('https://fonts.googleapis.com/css?family=Raleway:300');

html {
	font-size: 14px;
}

body {
	font-family: 'Raleway', sans-serif;
	color: #ffffff;
	text-align: center;
}

body * {
	outline: none;
}

button {
	border: none;
	background-color: transparent;
}

a {
	text-decoration: none;
}

/*--HEADER--*/
.header {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100vh;
	background-image: url(../img/bg_header.png);
	background-size: 100% 100%;
}

/*NAV*/
.header .nav {
	padding: 5px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-weight: 800;
}

/*LANGUAGE*/
.header .language:hover {
	text-decoration: underline;
}

/*LOGO*/
.header .logo {
	transition: 1s;
}

.header .logo:hover,
.header #hamburger-btn:hover,
.header #slide-down-btn:hover {
	transform: scale(1.1, 1.1);
}

/*MENU*/
.header .nav .menu {
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #ffffff;
}

.header .nav .menu li {
	padding: 10px;
}

.header .nav .menu a {
	color: #000000;
	text-decoration: none;
}

.header .nav .menu a:hover {
	text-decoration: underline;
}

/*RESERVATION*/
.header .reservation {
	margin: 0 auto;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 330px;
	height: 75px;
	font-size: 1.3rem;
	font-weight: 800;
	line-height: 25px;
	background-color: #841f1f;
}

.header .reservation .subtitle {
	display: block;
	font-size: 1rem;
	font-weight: 300;
}

/*TITLE*/
.header .title {
	font-size: 2.9rem;
	font-weight: 200;
	letter-spacing: 7px;
}

.header .title .subtitle {
	margin: 13px 0;
	display: block;
	font-size: 1.4rem;
	font-weight: 200;
	font-style: italic;
	letter-spacing: normal;
}

.header .title img {
	width: 40px;
	height: 39px;
}

/*RATING*/
.header .rating {
	margin: 0 auto;
	padding: 15px;
	width: 56px;
	height: 56px;
	font-size: 1rem;
	font-weight: 600;
	border: 1px solid #ffffff;
	background-color: rgba(0,0,0,.3);
}

.header .rating .counter {
	margin-bottom: 10px;
	display: block;
	font-size: 1.3rem;
	font-weight: 800;
}

/*SLIDE-DOWN-BTN*/
.header #slide-down-btn {
	margin-bottom: 5px;
	font-size: 1.7rem;
	color: #ffffff;
}


/*--MAIN--*/
/*I_PACKETS*/
.packets {
	margin: 35px 0;
	color: #000000;
}

.packets header {
	letter-spacing: 7px;
}

.packets .title {
	font-size: 2rem;
	font-weight: 200;
}

.packets .subtitle {
	margin: 15px 0;
	font-size: 1.3rem;
	color: #888888;
	line-height: 20px;
}

/*SLIDER*/
.packets .slider {
	position: relative;
	font-size: 1.3rem;
	font-weight: 800;
}

.packets .slider img {
	width: 100%;
	height: 100%;
}

.packets .slider .figcaption {
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #ffffff;
	transform: translateY(100%);
	z-index: 1;
}

/*BTNS_SLIDER*/
.packets .slider #prev,
.packets .slider #next {
	padding: 4px;
	position: absolute;
	top: 50%;
	left: 0;
	width: 40px;
	height: 40px;
	background-image: url(../img/prev.png);
	background-repeat: no-repeat;
	background-size: 50% 50%;
	background-position: center;
	transform: translateY(-50%);
	background-color: rgba(255,255,255,.9);
	z-index: 1;
}

.packets .slider #next {
	left: auto;
	right: 0;
	background-image: url(../img/next.png);
}

.packets .slider #prev:hover,
.packets .slider #next:hover {
	background-color: rgba(255,255,255,1);
}

/*OVERLAY*/
.packets .slider .overlay {
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,.1);
}

.packets .slider .overlay .preview {
	padding: 10px 30px;
	color: #ffffff;
	font-weight: 800;
	border: 1px solid #ffffff;
	z-index: 1;
}

.packets .slider:hover .overlay {
	display: flex;
}